.about-info{
    width: 70%;
}

.cooper-squiggle{
    width: 60%;
    height: auto;
}

.mini-mini-banner{
    background-color: rgb(243, 101, 37, 0.4);
    width: 40%;
}

.about-icons{
    width: 30%;
}

.highlighter{
    color: #F36525;
}