.cta{
    background: radial-gradient(#dd612c, #F36525);
    color: white;
    width: 30%;
    border-radius: 20px;
}

.socials-banner{
    background-color: #4B4B4B;
    padding: 2%;
}

.slogan-banner{
    background-color: #F36525;
}

input{
    border-radius: 20px;
    padding: 10px;
}

.submit{
    border: none;
    background: radial-gradient(#dd612c, #F36525);
    border-radius: 20px;
    padding: 5px;
}

.arrow{
    width: 80%;
}