.my-work-banner{
    background-color: rgb(243, 101, 37, 0.2);
}

.work-images{
height: auto;
}

.work-images:hover{
    filter:brightness(140%);
}

.image-banner{
    background-color: rgb(243, 101, 37, 0.7);
}

.work-card{
    width: 90%;
}

.bottom-work{
    background-color: rgb(0, 0, 0, 0.3);
    width: 90%;
}

.work-cta{
    border: none;
    background-color: #F36525;
    border-radius: 10px;
    color: white;
    padding: 2%;
}
.work-cta:hover{
    background-color: #bd4f1d;
}