.nav-logo{
    width: 70%;
}

.hamburger{
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.hamburger-image{
    background-color: none;
    width: 40%;
}